.icon {
  transform: scale(2);
}

.mainDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5%;
}

.productContainer {
  position: relative;
  display: flex;
  width: 50vw;
  background-color: white;
  padding: 1em 3em;
  border-radius: 1em;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.containerNameProduct {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.7em;
}

.lineBetween {
  font-size: 3rem;
  padding: 0 15px;
  color: black;
  margin: auto 0;
}

.detailsProduct {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.editExcludeContainer {
    display: flex;
    gap: 5%;
}

.buttonStyle {
  text-align: center;
  border-radius: 0.375rem;
  border-style: solid;
  border-width: 0.125rem;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
}

.buttonStyle:not(:disabled):hover {
  transform: scale(1.05);
}

.buttonStyle:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem);
}

.buttonStyle:focus {
  outline: 0 solid transparent;
}
